{% extends 'layout.html' %}

{% block body %}
  <h2><b>حول التطبيق</b> </h2>
  <hr>  
  <p class="text-justify"> 
 برنامج تلقائي بحيث اي معلومه او صوره او اي شي يكتب يتم اعادته للواجهه على عدةة مراحل
مثلا اول مره يكتب وبمجرد الضغط عليه او ضغط موافق يختفي ويظهر مرة اخرى بعد 4 ساعات ثم اضغط عليه ويختفي ويظهر مره ا خرى بعد 8 ساعات
وبعد 24 ساعه
وبعد 48 ساعه
وبعد 3 ايام
وبعد اسبوع
ثم اسبوعين
وهكذا
حسب التحديد المسبق بحيث اي عملية ادخال يتم تطبيق عليها ماسبق
علما انها عندما تختفي تكون متواجده في الارشيف بحيث يمكن الدخول على الارشيف اي وقت وتكون مستمره فيه دون حذف الا اذا اردت ان احذفها انا وتم تاكيد الحذف
</p>
<p><img src="{{url_for('static', filename='img/bg.png')}}" /></p>
{% endblock %}
